#fast-rolls-chat-dice {
    flex: 0;
    display: grid;
    padding-inline: 4px;
    margin-bottom: 4px;

    .fast-rolls-die {
        aspect-ratio: 1 / 1;
        cursor: pointer;

        .fast-rolls-die-img {
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;

            &.d6 {
                background-size: 86%;
            }
        }
    }
}
